.container
{
  display: flex;
  justify-content:space-evenly;
  padding: 2rem;
  border: 1px solid rgb(34, 207, 121);
  background-color: rgb(179, 96, 136);
}

// .buttons
// {
//   background-color: #e06080;
//   color: #e06080;
// }
